@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: white;
    background-size: cover;
    align-content: center;
    text-align: center;
}


h1{
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-size: 4em;
        color:green;}

h2{
    font-family: GmarketSansMedium, serif;
    font-size: 2.0em;
    color: black;

}

h3{
        font-family: 'GmarketSansMedium', serif;
        font-size: 1.3em;
        color: black;

    }
h4{
    font-family: 'Merriweather', serif;
    font-size: 2.3em;
    color: darkgreen;
}

h5{
    font-family: 'GmarketSansMedium', serif;
    font-size: 1.1em;
    color: black;
    line-height: 1.3em;
}



